<mat-card class="card">
  <img [src]="job.logo" alt="">
  <mat-card-header class="header">
    <div class="position">
      <mat-card-subtitle>{{job.company}}</mat-card-subtitle>
      <mat-chip-list>
        <mat-chip class="darckCyan" *ngIf="job.new">NEW!</mat-chip>
        <mat-chip class="darkGray" *ngIf="job.featured">FEATURED</mat-chip>
      </mat-chip-list>
    </div>
    <div>
      <mat-card-title>{{job.position}}</mat-card-title>
    </div>
    <div class="subText">
      <span>{{job.postedAt}}</span>
      <span class="circle"></span>
      <span>{{job.contract}}</span>
      <span class="circle"></span>
      <span>{{job.location}}</span>
    </div>
  </mat-card-header>
  <div class="selectables">
    <mat-chip-list>
      <hr *ngIf="mobile">
      <mat-chip class="languages">{{job.role}}</mat-chip>
      <mat-chip class="languages">{{job.level}}</mat-chip>
      <mat-chip
      class="languages"
      *ngFor="let language of job.languages">
      {{language}}
      </mat-chip>
      <mat-chip
      class="languages"
      *ngFor="let tools of job.tools">
      {{tools}}
      </mat-chip>
    </mat-chip-list>
  </div>
</mat-card>
